
#container
{
    margin: 0 auto;
    width: 900px;
    background: #fff;
}

#header
{
    background: #fff;
    padding: 10px;
    float: left;
    height: 92px;
}

#header h1 { margin: 0; }

#spacer
{
    float: left;
    width: 900px;
    height: 40px;
}

#navigation
{
    clear: left;
    float: left;
    width: 160px;
    background: #fff;
    padding-bottom: 20px;
}

#navigation ul
{
    margin: 0;
    padding: 0;
}

#navigation ul li
{
    list-style-type: none;
    /*display: inline;*/
}

#navigation li a
{
    display: block;
    padding: 5px 10px;
    color: #222;
    text-decoration: none;
    border-bottom: 1px solid #444;
}

#navigation li a:hover { background: #ccc; }

#content-container
{
    float: left;
    width: 900px;
    background: #fff;
}

#content
{
    float: left;
    width: 560px;
    padding: 20px 0;
    margin: 0 0 0 30px;
    display: inline;
}

#content h2 {
    margin: 0;
    padding-top: 0px;
    }

.div-left{
    float:left;
    padding-left:10px;
}
.div-right{
    float:right;
    padding-right:10px;
}

.footer-container{
    clear: both;
    background: #ddd;
    height:56px;
}

.footer {
    height:32px;
}

.footer li {
    list-style-type:none;
    float:left;
    padding-left:16px;
}

.footer li:nth-child(1) {
    text-decoration:none;
    height:32px;
    display:block;
    padding-right: 15px;
}

.footer ul {
    list-style-type:none;
    /*padding:0px;*/
    /*margin:0px;*/
}

body {
    font-size: 10pt;
    font-family: Helvetica, Arial, sans-serif;
}

table {
    font-size: 10pt;
    font-family: Helvetica, Arial, sans-serif;
    border: 1px solid;
    border-collapse: collapse;
}

tr {
  border-bottom: solid 1px black;
}

td, th {
  border: solid 1px black;
  padding: 4;
}
